body {
  background-color: #EEE8AA;
}

@keyframes slidein {
  from {
    padding-left: 0;
  }

  to {
    padding-left: 59%;
  }
}

h1 {
  animation: 3s linear 1s infinite alternate slidein, blinking 2s infinite;
  color: #6f0000;
  text-shadow: 2px 2px 5px #fc8210;
  font-size: 4em
}

@keyframes blinking {
  0% {
    color: #000;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
  }

  49% {
    color: #000;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #000;
  }
}

h3 {
  color: #f17808
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
