body {
  background-color: #EEE8AA;
}

h1 {
  color: #6f0000;
  }

h1 {
  text-shadow: 2px 2px 5px #fc8210;
}

h3 {
  color: #f17808
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
